body  
{ 
  background-image:linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("wallpapermp.jpg");
} 
h1.title,h2.title,h3.title{
  font-weight:600;
  font-size:29px;
  margin-bottom:15px
}
