{% extends 'basel.html' %}

{% block body %}

<div class="container my-3">
  <form action="/audiol?username={{username}}" method="POST">
    <br>
    <div class="mb-3">
      <label for="title" class="form-label">Please enter the link of youtube video who's audio you want to download --></label>
      <input type="text" class="form-control" name="url" id="url" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-dark">Download!</button>
  </form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock body %}