{% extends 'base.html' %}

{% block body %}

<div class="container my-3" align="center">
  <a href="/audio_download" type="button" class="btn btn-outline-dark btn-lg btn-block mx-1" >audio</a>
  <a href="/video_download" type="button" class="btn btn-outline-dark btn-lg mx-1">video</a>
  <a href="/playlist_download" type="button" class="btn btn-outline-dark btn-lg mx-1">playlist</a>
</div>

<div class="ftco-section center">
  <ul class="listitem items-more" style="list-style-type:none">
    <li>
      <div class="post-image bg1">
        <img src="https://yt1s.com/statics/image/clock.svg" alt="Fast and easy to use">
      </div>
      <div class="post-content">
        <h3>Fast and easy to use</h3>
        <p>Using our Youtube downloader is the fast and easy way to download and save any YouTube video to MP3 or MP4.
          Simply copy YouTube URL, paste it on the search box and click on "Convert" button. No register accounts
          needed. </p>
      </div>
    </li>
    <li>
      <div class="post-image bg2">
        <img src="https://yt1s.com/statics/image/limit.svg" alt="Without limitation">
      </div>
      <div class="post-content">
        <h3>Without limitation</h3>
        <p>Download and convert YouTube videos as much as you want without limitation and always free. </p>
      </div>
    </li>
    <li>
      <div class="post-image bg3">
        <img src="https://yt1s.com/statics/image/safe.svg" alt="Safe and Clean">
      </div>
      <div class="post-content">
        <h3>100% Safe and Clean</h3>
        <p>With the rising awareness of device security, people attach great importance to personal data. The service is
          totally clean with no virus under intense supervision based on security database. </p>
      </div>
    </li>
    <br><br><br>
    <li>
      <div class="post-image bg4">
        <img src="https://yt1s.com/statics/image/platform.svg" alt="Full platforms supported">
      </div>
      <div class="post-content">
        <h3>Full platforms supported</h3>
        <p>We support all device platforms. Easy to convert YouTube videos to MP3 files regardless of whether you are
          using Windows, Mac or Linux, Android, iPhone. </p>
      </div>
    </li>
    <li>
      <div class="post-image bg5">
        <img src="https://yt1s.com/statics/image/support.svg" alt="Full file format supported">
      </div>
      <div class="post-content">
        <h3>Full file format supported</h3>
        <p>We support all video and audio formats conversion. You can easily convert YouTube videos to MP3, 3GP, MP4,
          WMA, M4A, FLV, WEBM and MO formats, etc. </p>
      </div>
    </li>
    <li>
      <div class="post-image bg6">
        <img src="https://yt1s.com/statics/image/cloud.svg" alt="Cloud support">
      </div>
      <div class="post-content">
        <h3>Cloud support</h3>
        <p>We support uploading the converted files to your DropBox and Google Drive. </p>
      </div>
    </li>
  </ul>
</div>


{% endblock body %}